NewRequest-DAWAR-ECO-HUB.pdf
*.json
*.pdf
rag_pipeline/embedder_model_cache
.DS_Store
__pycache__
rag_pipeline/logs
rag_pipeline/data
rag_pipeline/vectorstore
rag_pipeline/document_processing.log
rag_pipeline/cache
bot.py
logs/document_processing.log
.env
.vscode
logs
*.docx
knowledge_base
agents/cache
agents/waste_mangment_agent/cache
agents/waste_mangment_agent/tools/waste_classification/testing_photos
node_modules

node_modules/
*.png
