sentence-transformers
numpy
langchain
langchain-core
langchain-community
langchain-huggingface
faiss-cpu
transformers
torch
tqdm
flask
flask-cors
langdetect
fuzzywuzzy
python-levenshtein
langchain_ollama
threading
pypdf
psycopg2-binary 
pgvector 
sqlalchemy
dotenv
asyncpg
more_itertools
bs4
langraph
requests
exa_py
langchain-google-genai
langchain-google-genai 
google-generativeai 
gymnasium
gymnasium
stable-baselines3
tqdm
tensorboard
numpy
