aiohttp==3.12.14
fastapi==0.117.1
langchain==0.3.27
langchain_exa==0.3.1
langchain_google_genai==2.1.12
langsmith==0.4.29
mangum==0.19.0
numpy==2.3.3
pgvector==0.4.1
Pillow==11.3.0
protobuf==6.32.1
pydantic==2.11.9
python-dotenv==1.1.1
PyYAML==6.0.2
rapidfuzz==3.14.1
scikit_learn==1.7.2
SQLAlchemy==2.0.43
uvicorn==0.36.0
websockets==15.0.1
asyncpg==0.29.0 
